@use 'base'
    
.appContainer
    
    min-height: 100vh
    width: 100vw
    background-color: base.$background-color

.margin
    padding-right: 13px
    padding-left: 13px
    padding-top: 45px
    height: 100%

